<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServerA</title>
</head>
<body>
<h2>Greetings app SERVER A</h2>
<h2 th:text=" ${currentId}"></h2>
<h1 th:text="${currentEmail}"> </h1>


<form method="post" action="/sendFriendRequest">
    <input type="text" name="f_email" placeholder="Enter friends email">
    <input type="submit" value="Send friend request">
</form>


<p>Answer: </p>
<h3 th:text="${greeting}"></h3>


</body>
</html>